<template>
    <NavBar/>
    <div class="small-middle-container my-5">

        <div v-if="this.isSubmitInProgress">
            <p>loading...</p>
        </div>
            <div v-else v-for="(question, index) in questions" :key="index">
                <div v-if="this.pageCount == index">
                    <div class="row justify-content-start" style="text-align: left">
                        <div class="col-6">
                            <h1> {{ this.questions[this.pageCount] }}</h1>
                        </div>
                    </div>
                    <div class="row mx-0 pt-5 pb-5">
                        <input v-model="answers[index]" class="col">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 left-align">
                    <button @click="previous" class="">Previous</button>
                </div>
                <div class="col-4">
                    <p class="mb-0">{{ this.pageCount + 1 }} / {{ questions.length }}</p>
                </div>
                <div class="col-4 right-align">
                    <button v-if="this.pageCount<3" @click="next" class="left-align">{{ btnText }}</button>
                    <button v-else @click="submit">{{ btnText }}</button>

                </div>
            </div>


    </div>



</template>

<script>
    import axios from "axios"
    import NavBar from "./NavBar.vue"
    export default {
        name: "CreateView",
        data() {
            return {
                questions: [
                   "What topics do you want to write about?",
                   "Any questions you want the blog post to answer?",
                   "Any keys words you would like to include in the blog post?",
                   "How many words should this blog post be?"
                ],
                answers: [
                ],
                pageCount: 0,
                btnText: "Next",
                isSubmitInProgress: false,
            }
        },
        components: {
            NavBar
        },
        methods: {
            previous() {
                if (this.pageCount > 0) {
                    this.pageCount -= 1
                    this.btnText = "Next"
                }
            },
            next() {
                if (this.pageCount >= 0 && this.pageCount < 3) {
                    this.pageCount += 1
                    this.btnText = "Next"
                }
                console.log(this.pageCount)
                if (this.pageCount == 3) {
                    this.btnText = "Submit"
                }
            },
            async submit() {
                console.warn("submit")
                let header = {
                    headers: {
                        Authorization: `Bearer ${localStorage.getItem('jwt')}`
                    },
                }
                
                try {
                    this.isSubmitInProgress = true
                    let result = await axios.post(
                        "http://localhost:5000/create", {
                            questions: this.questions,
                            answers: this.answers
                        },
                        header
                    )
                    if (result.status == 201) {
                        this.isSubmitInProgress = false
                        this.$router.push({name: "HomeView"})
                    } else {
                        this.isSubmitInProgress = false
                        console.log("error when submitting questions")
                    }

                } catch (err) {
                    console.log("error: ", err)
                }
            }
        }
    }

</script>

<style>
.small-middle-container{
	margin: auto;
	width: 60%;
}
.left-align {
    text-align:left;
}
.right-align {
    text-align:right;
}
</style>