<template>
    <NavBar/>
    <div class="d-flex container justify-content-center">
    <div class="overflow-auto">
        <div v-for="post in posts.slice(begin_on, end_on)" :key="post.id" class="card m-2" style="width: 540px;">
            <div class="row g-0">
                <div class="col-md">
                    <div class="card-body">
                        <router-link :to="`/posts/${post.id}`" class="card-title text-decoration-none black-text">{{ post.title }}</router-link>
                        <router-link :to="`/posts/${post.id}`" class="card-text text-decoration-none black-text">{{ post.content }}</router-link>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="..." v-if="this.posts.length>0">
            <ul class="pagination">
                <li :class="prevDisabled" @click="pageCounter">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li v-for="(n, index) in this.totalPages" :key="index" @click="pageCounter">
                    <a class="page-link" href="#">{{ index }}</a>
                
                </li>
                <li :class="nextDisabled" @click="pageCounter">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    </div>

</template>

<script>
    import axios from "axios"
    import NavBar from "./NavBar.vue"
    axios.defaults.withCredentials = true
    export default {
        name: "HomeView",
        data() {
            return {
                posts: [],
                totalPages: 0,
                pageNum: 0,
                begin_on: 0,
                end_on: 0,
                pageSize: 6,
                prevDisabled: "page-item",
                NextDisabled: "page-item",
            }
        },
        components: {
            NavBar,
        },
        methods: {
            pageCounter(e) {
                let innerText = e.target.innerText
                if (isNaN(innerText)) {
                    if (innerText == "Previous") {
                        this.pageNum -= 1
                    } else {
                        this.pageNum += 1
                    }
                } else {
                    this.pageNum = parseInt(e.target.innerText)
                }
                this.begin_on = this.pageSize * this.pageNum
                this.end_on = this.pageSize * (this.pageNum + 1) - 1
                if (this.pageNum == 0) {
                    this.prevDisabled = "page-item disabled"
                } else {
                    this.prevDisabled = "page-item"
                }

                if (this.pageNum == this.totalPages - 1) {
                    this.nextDisabled = "page-item disabled"
                } else {
                    this.nextDisabled = "page-item"
                }
            }
        },
        async mounted() {
            const headers = {
                Authorization: `Bearer ${localStorage.getItem('jwt')}`
            }
            try {
                let result = await axios.get(
                    "http://localhost:5000/blog",
                    { headers }
                    )
                this.posts = result.data
                this.totalPages = Math.ceil(this.posts.length / this.pageSize)
                this.begin_on = this.pageSize * this.pageNum
                this.end_on = this.pageSize * (this.pageNum + 1) - 1
                if (this.pageNum == 0) {
                    this.prevDisabled = "page-item disabled"
                }
                if (this.pageNum == this.totalPages - 1) {
                    this.nextDisabled = "page-item disabled"
                }
            } catch (e) {
                console.log(e)
            }
        }

    }
</script>

<style>
.card-text {
    margin-top: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.black-text {
    color: inherit;
}
.disabled {
    pointer-events: none;
}

</style>