<template>
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign In</p>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <p class="mx-3">
                      <button @click.prevent="loginWithGoogle">Login with Google</button>
                    </p>
                  </div>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</template>

<script>
import axios from "axios";
import {
  getAuth,
  GoogleAuthProvider,
  signInWithPopup,
  // signInWithRedirect,
} from "firebase/auth"
export default {
    name: "LoginView",
    methods: {
      async loginWithGoogle() {
        console.log("reach signin with google")
        const provider = new GoogleAuthProvider();
        try {
          const firebase_res = await signInWithPopup(getAuth(), provider);
          const jwtToken = await firebase_res.user.getIdToken()
          console.log("user, ", firebase_res)
          window.localStorage.setItem("jwt", jwtToken)
          const headers = {
              Authorization: `Bearer ${localStorage.getItem('jwt')}`
          }
          try {
            let result = await axios.post(
                "http://localhost:5000/login",
                {},
                { headers },
            )

            if (result.status == 201) {
                console.log("success")
                this.$store.commit("set_authentication", false)
                this.$store.commit("set_email", firebase_res.user.email)
                this.$store.commit("set_name", firebase_res.user.displayName)
                this.$router.push({name: "HomeView"})
            } else {
                console.log("error")
            }

          } catch (e) {
            console.log("error: ", e)
          }

        } catch (e) {
          console.log("error: ", e)
        }
      }
    }
}
</script>