<template>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="#">
      <img
        src="../assets/blogwriter-logo.png"
        height="16"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px;"
        class="img-width"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <router-link class="nav-link" to="/">Home</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/create">Create</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/setting">Setting</router-link>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <a>
          hello {{ name }}
        </a>
        <button v-on:click="logout" class="btn btn-link px-3 me-2 black-text">
          Logout
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

</template>

<script>
    import axios from "axios"
    import {getAuth, onAuthStateChanged, signOut} from "firebase/auth";
    axios.defaults.withCredentials = true
    let auth;
    export default {
        name: "NavBar",
        data() {
            return {
                name: "",
                isLoggedIn: false
            }
        },
        methods: {
            logout() {
              signOut(auth).then(() => {
                this.$router.push({name: "Login"})
              })

            }
        },
        mounted() {
          auth = getAuth();
          onAuthStateChanged(auth, (user) => {
            if (user) {
              this.isLoggedIn = true;
              this.name = user.displayName
            } else {
              this.isLoggedIn = false;
            }
          })
        }

    }
</script>

<style>
.img-width {
  height: 25px;
}
.black-text {
    color: inherit;
    text-decoration: none;
}
</style>