<template>
    <NavBar/>
    <div class="container d-flex flex-row text-start">
        <div v-if="this.isPublishInProgress">
            <p>loading...</p> 
        </div>
        <div v-else>
            <div v-if="currPost">
                <div v-html="markdownToHtml"></div>
            </div>

        </div>
        <div>
            <div class="mb-5">
                <button @click="deletePost">Delete</button>
            </div>
            <div>
                <p>Publish Blog</p>
            </div>
            <div class="d-flex flex-column">
                <div v-for="(question, index) in questions" :key="index">
                    <div v-if="pageCount == index">
                        <p> {{ questions[pageCount] }}:</p>
                        <div v-if="pageCount == questions.indexOf('File Path')" class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ selectedPath }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li v-for="(directory, index) in directories" :key="index"><a class="dropdown-item" @click="selectFolder(index)">{{ directory }}</a></li>
                            <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </ul>
                        </div>



                        <input v-else type="text" v-model="answers[pageCount]"> 
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button @click="previous">Previous</button>
                    <p class="mb-0">{{ pageCount + 1 }}/{{ questions.length }}</p>
                    <button v-if="pageCount<questions.length-1" @click="next">Next</button>
                    <button v-else @click="publishPost">Publish</button>

                </div>
            </div>
            <!-- <div class="d-flex flex-column">
                <input type="text" v-model="author" placeholder="Author">
                <input type="text" v-model="title" placeholder="Title">
                <input type="text" v-model="tags" placeholder="tags, seperated by comma">
                <input type="text" v-model="filename" placeholder="file path">
                <input type="text" v-model="project_ns" placeholder="project namespace">
                <input type="text" v-model="api_key" placeholder="gitlab api key">
                <button @click="publishPost">Publish</button>

            </div> -->

        </div>

    </div>
</template>

<script>
    import axios from "axios"
    import { marked } from 'marked'
    import NavBar from "./NavBar.vue"
    
    const ACCESS_TOKEN_LABEL = "Gitlab Access Token"
    const PROJECT_NS_LABEL = "Project Namespace"
    const FILE_PATH_LABEL = "File Path"
    const FILE_NAME_LABEL = "File Name"
    const AUTHOR_LABEL = "Author"
    const BLOG_TITLE_LABEL = "Blog Title"
    const TAGS_LABEL = "Tags"
    export default {
        name: "PostView",
        data() {
            return {
                isPublishInProgress: false,
                currPost: "",
                postId: "",
                pageCount: 0,
                questions: [
                    ACCESS_TOKEN_LABEL,
                    PROJECT_NS_LABEL,
                    FILE_PATH_LABEL,
                    FILE_NAME_LABEL,
                    AUTHOR_LABEL,
                    BLOG_TITLE_LABEL,
                    TAGS_LABEL,
                ],
                answers: [],
                directories: [],
                selectedPath: "Select folder",
                author: "",
                title: "",
                tags: "",
                project_ns: "",
                api_key: "",
                filename: "",
            }
        },
        computed: {
            markdownToHtml() {
                return marked(this.currPost.content)
            }

        },
        components: {
            NavBar,
        },
        async mounted() {
            try {
                const headers = {
                    Authorization: `Bearer ${localStorage.getItem('jwt')}`
                }
                let result = await axios.get(
                    "http://localhost:5000/blog",
                    { headers })
                this.currPost = result.data.filter((post) => {
                    return post.id == this.$route.params.postId
                })[0];
                this.postId = this.currPost.id

            }
            catch (err) {
                console.log(err)
            }
        },
        methods: {
            async deletePost() {
                let header = {
                    headers: {
                        Authorization: `Bearer ${localStorage.getItem('jwt')}`
                    },
                }
                try {
                    let result = await axios.delete(
                        "http://localhost:5000/blog/" + this.postId,
                        header
                    )
                    if (result.status == 200) {
                        this.$router.push({name: "HomeView"})
                    }
                } catch (err) {
                    console.log(err)
                }
            },
            async publishPost() {
                let header = {
                    headers: {
                        Authorization: `Bearer ${localStorage.getItem('jwt')}`
                    },
                    withCredentials: true,
                }

                const accessTokenIndex = this.questions.indexOf(ACCESS_TOKEN_LABEL)
                const projectNsIndex = this.questions.indexOf(PROJECT_NS_LABEL)
                const filePathIndex = this.questions.indexOf(FILE_PATH_LABEL)
                const fileNameIndex = this.questions.indexOf(FILE_NAME_LABEL)
                const authorIndex = this.questions.indexOf(AUTHOR_LABEL)
                const blogTitleIndex = this.questions.indexOf(BLOG_TITLE_LABEL)
                const tagIndex = this.questions.indexOf(TAGS_LABEL)
                try {
                    this.isPublishInProgress = true
                    let result = await axios.post(
                        "http://localhost:5000/publish",
                        {
                            author: this.answers[authorIndex],
                            title: this.answers[blogTitleIndex],
                            tags: this.answers[tagIndex],
                            content: this.currPost.content,
                            project_ns: this.answers[projectNsIndex],
                            api_key: this.answers[accessTokenIndex],
                            filename: this.answers[filePathIndex] + this.answers[fileNameIndex] + ".md",
                        },
                        header,
                    )
                    if (result.status == 200) {
                        this.isPublishInProgress = false
                        console.log("publish successful")
                    }
                } catch (err) {
                    this.isPublishInProgress = false
                    console.log(err)
                }
                console.log("publish post!!")
            },
            previous() {
                if (this.pageCount > 0) {
                    this.pageCount -= 1
                }

            },
            async next() {
                if (this.pageCount >= 0 && this.pageCount < this.questions.length - 1) {
                    this.pageCount += 1
                }
                
                const filePathIndex = this.questions.indexOf(FILE_PATH_LABEL)
                const accessTokenIndex = this.questions.indexOf(ACCESS_TOKEN_LABEL)
                const projectNsIndex = this.questions.indexOf(PROJECT_NS_LABEL)
                if (this.pageCount == filePathIndex
                    && this.answers[accessTokenIndex] != ""
                    && this.answers[projectNsIndex] != "") {
                        let header = {
                            headers: {
                                Authorization: `Bearer ${localStorage.getItem('jwt')}`
                            },
                        }
                        const result = await axios.post(
                            "http://localhost:5000/get_repo", {
                                "api_key": this.answers[accessTokenIndex],
                                "project_ns": this.answers[projectNsIndex]
                            },
                            header
                        )
                        if (result.status == 200) {
                            console.log(result.data)
                            this.directories = result.data.result
                        }

                }
            },
            selectFolder(index) {
                const filePathIndex = this.questions.indexOf(FILE_PATH_LABEL)
                this.selectedPath = this.directories[index]
                this.answers[filePathIndex] = this.selectedPath
            }
        }
    }
</script>