<template>
    <NavBar/>
    <h1> this is setting view</h1>
</template>

<script>
    import NavBar from "./NavBar.vue"
    export default {
        name: "HomeView",
        components: {
            NavBar,
        },
        mounted() {
            // let user = localStorage.getItem("user-info");
            // if (!user) {
            //     this.$router.push({name: "SignUp"})
            // }
        }
    }
</script>