<template>
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <section v-if="err_msg">
      <p>
        {{ err_msg }}
      </p>
    </section>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" v-model="name" class="form-control" placeholder="Your Name" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" v-model="email" class="form-control" placeholder="Your Email"/>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" v-model="password" class="form-control" placeholder="Your Password"/>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" v-model="repeated_pwd" class="form-control" placeholder="Repeat Your Password"/>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <p>Already registered?</p>
                    <p class="mx-3">
                      <router-link to="/login">Login</router-link>
                    </p>
                  </div>


                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button @click.prevent="signUp" class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</template>

<script>
    import axios from "axios"
    export default {
        name: "SignUp",
        data()
        {
            return {
                name: "",
                email: "",
                password: "",
                repeated_pwd: "",
                err_msg: "",
            }
        },
        methods: {
            async signUp() {
              
              try{
              let result = await axios.post(
                  "http://localhost:5000/signup", {
                      name: this.name,
                      email: this.email,
                      password: this.password,
                      repeated_pwd: this.repeated_pwd,
                  }
              );
              if (result.status == 201) {
                  console.log(result.data)
                  localStorage.setItem("user-info", JSON.stringify(result.data))
                  this.$router.push({name : "HomeView"})
              }
            } catch (e) {
              console.log(e.response.data.error)
              this.err_msg = e.response.data.error
              console.log("email: ", this.email)
              
            }
            }
        },
        mounted() {
          let user = localStorage.getItem("user-info");
          if (user) {
              this.$router.push({name: "HomeView"})
          }
        }
    }
</script>