<template>
  <!-- <router-link to="/" aria-current="page">Home</router-link>
  <router-link to="/signup" aria-current="page">SignUp</router-link> -->
  <router-view/>
</template>

<script>

export default {
  name: 'App',
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
